# AArch64 Big Endian configuration
BR2_aarch64_be=y
BR2_AARCH64_PAGE_SIZE_4K=y
BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_KERNEL_HEADERS_5_15=y
BR2_BINUTILS_VERSION_2_39_X=y
BR2_GCC_VERSION_12_X=y
BR2_TOOLCHAIN_BUILDROOT_FORTRAN=y
BR2_GCC_ENABLE_LTO=y
BR2_STATIC_LIBS=y
BR2_OPTIMIZE_2=y
BR2_SSP_REGULAR=y
BR2_RELRO_PARTIAL=y